# This is gitignore file for VoiceChess project

# ignore CMake files
CMakeCache.txt
*.cmake
CMakeFiles/**

# ignore every build output
.build/**
build/**
bin/**
lib/**
libs/**

*.o
*.obj
*.lib
*.so
*.exe
*.dll
*.pdb

# ignore distribution specific files
.dist/**

# ignore CMake build output
*.dir/**

# MSVC ignoring
.vs/**
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CLion ignoring
.idea/**
cmake-build-debug/**
cmake-build-release/**
